{% extends 'home/base.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static 'gestionar_mi_perfil/css/gestionar_mi_perfil.css' %}" />
{% endblock %} {% block title %} Gestionar mi perfil {% endblock %} {% block contenido %}

{% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
      {% endfor %}
  </ul>
{% endif %}
<div class="contenedor">
  <div class="title">
    <h3>Gestionar mi perfil</h3>
    <div class="title-line"></div>
 </div>
  <div class="content">
    <div class="data-perfil">
      <h3 class="data-perfil-title">Datos del perfil</h3>
      <div class="perfil-line"></div>
      <h3>Nombre: {{user.nombre}}</h3>
      <h3>País: {{country}}</h3>
    </div>
    <div class="editar-perfil">
      <h3>Editar perfil</h3>
      <a href="/gestionar_mi_perfil/cambio_nombre_y_pais">Editar nombre y pais</a>
      <a href="/gestionar_mi_perfil/cambio_contrasenia">Cambiar contraseña</a>
    </div>
  </div>
</div>

{% endblock %}
