{% extends 'home/base.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static 'login/css/login.css' %}" />
{% endblock %} {% block title %} Login {% endblock %} {% block contenido %}

<div class="form-container">
  <h1>Login</h1>
  <form class="form" action="" method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
      {{ field.label_tag }}
      {{ field }}
      {% if field.help_text %}
        <small>{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color:red">{{error}}</p>
      {% endfor %}
      </p>
    {% endfor %}
    {% if form.non_field_errors %}
      <div style="color:red">
        <p>{{form.non_field_errors}}</p>
      </div>
    {% endif %}
    <input class="button" type="submit" value="Login" />
  </form>
</div>

{% endblock %}
