.contenedor{
    height: min-content;
    background-color: var(--color4);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

.title{
    color: var(--color2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.title > h3{
    display: block;
    flex-basis: 40%;
}

.title-line{
    width: 100%;
    height: 5px;
    background-color: var(--color2);
}

.content{
    font-size: 16px;
    color: var(--color2);
    line-height: 1.5;
    display: flex;
    gap: 20px;
    width: 100%;
}

.card{
    flex-basis: calc(100%/3);
    background-color: var(--color5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 5px;
}

.img-card > img{
    width: 200px;
}

.info-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.text-info{
    text-align: center;

}

.card-line{
    width: 80%;
    height: 2px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 47%, rgba(255,255,255,0) 100%);
}

.contact-links > ul{
    display: flex;
    gap: 20px;
}

.contact-links>ul>li{
    list-style: none;
}

.contact-a{
    color: var(--color2) !important;
    cursor: pointer;
    text-decoration: underline;
}

.contact-a > img{
    width: 40px;
}

.contact-a:hover{
    animation: scaleRotate 0.2s forwards ease-in-out
}

@keyframes scaleRotate {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1) rotate(5deg);
    }
    
}