{% extends 'home/base.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static 'sobre_el_proyecto/css/sobre_el_proyecto.css' %}" />
{% endblock %} {% block title %} Sobre el proyecto {% endblock %} {% block contenido %}

<section class="contenedor">
    <div class="title">
       <h3>Sobre el proyecto</h3>
       <div class="title-line"></div>
    </div>

    <div class="logoGame">
        <img src="{% static 'media/home/logo.png' %}" alt="Logo del juego">
    </div>

    <div class="logos">
        <div id="logo-capgemini">
            <img src="{% static 'media/sobre_el_proyecto/Capgemini-Logo.png' %}" alt="Logo Capgemini">
        </div>
        <div id="logo-utn">
            <img src="{% static 'media/sobre_el_proyecto/utn.png' %}" alt="Logo UTN"></div>
        </div>
    </div>
    
    <div class="content">
        Este proyecto fue realizado con una finalidad educativa para la Academia Python brindada por la empresa Capgemini en colaboracion con la UTN FRBA, en el año 2022.
        El proyecto consiste en una pagina web que permite a los usuarios registrarse y loguearse, y poder jugar a contestar preguntas de distintos temas mediante la camara
    </div>
</section>
<section class="contenedor m-top">
    <h3 class="title">Reconocimiento de la mano con OpenCV y MediaPipe</h3>
    <div class="logos logo-w">
        <div id="logo-opencv">
            <img src="{% static 'media/sobre_el_proyecto/opencv.png' %}" alt="Logo OpenCV">
        </div>
        <div id="logo-mediapipe">
            <img src="{% static 'media/sobre_el_proyecto/mediapipe.svg' %}" alt="Logo Mediapipe">
        </div>
    </div>
    <div class="content">
        <div class="block">
            <div class="info-content">
                Este proyecto fue posible gracias a OpenCV, una libreria enfocada en la vision artificial en tiempo real.
                OpenCV es capaz de capturar frames directamente desde una camara, apartir de esto procedemos a trabajar sobre dicho frame 
                con herramientas que la misma libreria nos proporciona, los diferentes procesamientos que podemos realizar sobre la imagen
                son diversos, entre ellos, redimensionamientos, cambios de escalas de color, difuminacion, deteccion de bordes, etc.
            </div>
            <img id="opencvGif" src="https://drive.google.com/uc?export=view&id=19hQh40nHzxLunGt5w558q9KzStKG0LJI" alt="">
        </div>
        <div class="block">
            <img id="mediapipeGif" src="https://drive.google.com/uc?export=view&id=1_vakPwHayRZ4xXWY3_IeLmzMnP2G3O1z" alt="">
            <div class="info-content">
                Una vez obtenidos y procesados estos frames con OpenCV, la libreria MediaPipe nos brinda las herramientas necesarias
                para percibir la forma y el movimiento de las manos. Esta libreria utiliza un pipeline de ML que consta de varios modelos
                que trabajan juntos. MediaPipe utiliza modelos de ML que detectan la palma de la mano y genera un corte preciso
                de la mano apartir de la posicion de esta, para posteriormente realizar una localizacion precisa de 21 puntos claves dentro de la mano.
                Finalmente MediaPipe nos entrega una lista que contiene informacion de la posicion de estos 21 puntos y si la mano es derecha o izquierda.
                Con estos datos fuimos capaces de detectar señas realizadas con las manos, tanto para la eleccion dentro de una lista de opciones de posibles respuestas a una pregunta
                como la determinacion final del envio de una respuesta.
            </div>
        </div>
    </div>
</section>
<section class="contenedor m-top">
    <h3 class="title">Arquitectura de la plataforma con Django y MySQL</h3>
    <div class="logos logo-w">
        <div id="logo-django">
            <img src="{% static 'media/sobre_el_proyecto/Django-Logo.png' %}" alt="Logo Django">
        </div>
        <div id="logo-mysql">
            <img src="{% static 'media/sobre_el_proyecto/MySQL-Logo.png' %}" alt="Logo MySQL">
        </div>
    </div>
    <div class="content">
        <div class="block">
            <div class="info-content">
                La arquitectura de este proyecto fue llevada a cabo con Django, un framework que respeta el patron de diseño
                modelo-vista-template (MVT) que facilita la creacion de sitios web complejos. Django es compatible con una variedad de sistemas de gestion de bases de datos, entre ellos, PostgreSQL, SQLite, Oracle,
                Microsoft SQL y MySQL, este ultimo sistema fue el utilizado para este proyecto debido a su velocidad y sencillez en su uso.
            </div>
            <img id="mtv" src="{% static 'media/sobre_el_proyecto/Django_mtv.png' %}" alt="">
        </div>
    </div>
</section>
{% endblock %}