:root{
    --color1: #5CAD00;
    --color2: #FFFFFF;
    --color3: #AEC7BA;
    --color4: #4A7061;
    --color5: #142E25;
    font-family: 'Raleway', sans-serif;
}

body{
    background-color: var(--color3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

h1{
    font-size: 50px;
    font-weight: 600;
}

h2{
    font-size: 40px;
    font-weight: 600;
}

h3{
    font-size: 30px;
    font-weight: 600;
}

h4{
    font-size: 20px;
    font-weight: 600;
}

h5{
    font-size: 15px;
    font-weight: 600;
}

h6{
    font-size: 12px;
    font-weight: 600;
}

p{
    font-weight: 300;
}

a{
    display:inline-block;
    text-align:center;
}

a:visited{
    color: var(--color5);
}

a:link{
    text-decoration: none;
    color: var(--color5);
}

a:hover{
    font-weight: bold;
}

a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.container{
    width: 90%;
    /* height: min-content; */
    margin: 0 auto;
    overflow: hidden;
}

/* ========================HEADER=========================== */
header{
    width: 100%;
}

#nav-pc{
    display: flex;
    box-shadow: 0 0 10px var(--color4);
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: fixed;
    z-index: 1000;
    background-color: var(--color2);
}

.nav-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    padding: 0 15px;
}

.nav-logo-img{
    padding-right:10px;
}

.nav-logo-img > img{
    width: 30px;
    object-fit: cover;
    display: block;
}

.nav-opciones{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 70%;
}

.nav-opcion{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav-opcion:hover{
    box-shadow: 0 0 10px var(--color3);
}

.line-nav{
    width: 0;
    height: 5px;
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(92,173,0,1) 47%, rgba(255,255,255,1) 100%);
    position: absolute;
    bottom: 0;
    opacity: 0;
}

.nav-opcion:hover .line-nav{
    width: 100%;
    opacity: 1;
    transition: width 0.15s, opacity 0.35s;
}

.nav-login, .nav-register{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
}

.nav-signout{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1
}

.nav-login:hover{
    background-color: var(--color4);
}

.nav-login:hover a{
    color: white;
}

.nav-register:hover{
    background-color: var(--color1);
}

.nav-signout:hover{
    background-color: var(--color1);
}

.nav-signout-img > img{
    width: 20px;
    object-fit: cover;
    display: block;
}

.nav-signout-img{
    padding: 0 10px 0 0;
}

.mymain{
    padding-top: 100px;
    padding-bottom: 40px;
    opacity: 0;
    animation: opac 0.5s forwards;
}

@keyframes opac {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* ========================FOOTER=========================== */

.waves {
    position: relative;
    width: 100%;
    height: 50px;
    display: block;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}

.parallax>use:nth-child(1) {
    opacity: 0.7;
    fill: var(--color2);
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax>use:nth-child(2) {
    opacity: 0.4;
    fill: var(--color2);
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax>use:nth-child(3) {
    opacity: 0.1;
    fill: var(--color2);
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax>use:nth-child(4) {
    fill: var(--color2);
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translateX(-90px);
    }

    100% {
        transform: translateX(85px);
    }
}

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    
}

#myfooter{
    background-color: var(--color2);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-self: center;
    bottom: 0;
    gap: 30px;
}

.myfooter-img{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.myfooter-img > img{
    width: 80px;
}

.myfooter-info{
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.myfooter-info-links{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myfooter-info-link{
    flex-basis: auto;
}

.line-footer{
    width: 2px;
    height: 100%;
    background-color: var(--color5);
}

.btn{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover{
    animation: rotateBtn 0.15s forwards;
}

@keyframes rotateBtn {
    0%{
        transform: scale(1) rotate(0deg) e;
    }
    25%{
        transform: rotate(-5deg);
    }
    50%{
        transform: rotate(5deg);
    }
    100%{
        color: var(--color2);
        background-color: var(--color5);
        transform: scale(1.1) rotate(0deg);
    }
}

.logos-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#UTNFooter > img{
    width: 125px;
}

#CapgeminiFooter > img{
    width: 125px;
}