{% extends 'home/base.html' %} {% load static %} {% block links %}
<link rel="stylesheet" href="{% static 'contacto/css/contacto.css' %}" />
{% endblock %} {% block title %} Contacto {% endblock %} {% block contenido %}

<section class="contenedor">
  <div class="title">
    <h3>Contacto</h3>
    <div class="title-line"></div>
  </div>

  <div class="content">
    <div class="card">
      <div class="img-card">
        <img src="{% static 'media/contacto/alex.jpg' %}" alt="Imagen alumno">
      </div>
      <div class="info-card">
        <div class="text-info">
          <h4 class="title-card">Alexander Rios</h4>
          <p>Estudiante de Ingenieria Electronica</p>
        </div>
        <div class="card-line"></div>
        <div class="contact-links">
          <ul>
            <li>
              <a class="contact-a" href="https://github.com/aletbm"><img src="{% static 'media/contacto/github.png' %}" alt="Logo de github"></a>
            </li>
            <li>
              <a class="contact-a" href="https://www.linkedin.com/in/alexander-daniel-rios/"><img src="{% static 'media/contacto/linkedin.png' %}" alt="Logo de Linkedin"></a>
            </li>
            <li>
              <a class="contact-a" href="https://www.instagram.com/alexander.daniel.rios/"
                ><img src="{% static 'media/contacto/instagram.png' %}" alt="Logo de Instagram"></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img-card">
        <img src="{% static 'media/contacto/gus.jpg' %}" alt="Imagen alumno">
      </div>
      <div class="info-card">
        <div class="text-info">
          <h4 class="title-card">Gustavo Haite Gulotta</h4>
          <p>Estudiante de Ingenieria en Sistemas de Informacion</p>
        </div>
        <div class="card-line"></div>
        <div class="contact-links">
          <ul>
            <li>
              <a class="contact-a" href="https://github.com/Gustavo-Haite"
                ><img src="{% static 'media/contacto/github.png' %}" alt="Logo de github"></a
              >
            </li>
            <li>
              <a class="contact-a" href=""><img src="{% static 'media/contacto/linkedin.png' %}" alt="Logo de Linkedin"></a>
            </li>
            <li>
              <a class="contact-a" href=""
                ><img src="{% static 'media/contacto/instagram.png' %}" alt="Logo de Instagram"></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img-card">
        <img src="{% static 'media/contacto/martin.jpeg' %}" alt="Imagen alumno">
      </div>
      <div class="info-card">
        <div class="text-info">
          <h4 class="title-card">Martin Lingeri</h4>
          <p>Estudiante de Ingenieria en Sistemas de Informacion</p>
        </div>
        <div class="card-line"></div>
        <div class="contact-links">
          <ul>
            <li>
              <a class="contact-a" href="https://github.com/MartinLingeri"
                ><img src="{% static 'media/contacto/github.png' %}" alt="Logo de github"></a
              >
            </li>
            <li>
              <a class="contact-a" href="https://linkedin.com/in/martin-lingeri"
                ><img src="{% static 'media/contacto/linkedin.png' %}" alt="Logo de Linkedin"></a
              >
            </li>
            <li>
              <a class="contact-a" href="https://www.instagram.com/martin_lingeri/"
                ><img src="{% static 'media/contacto/instagram.png' %}" alt="Logo de Instagram"></a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
